// @FORM
// @INPUT TEXT FIELD
// @TEXTAREA

// RESET
input {
    &[type="text"],
    &[type="password"],
    &[type="number"],
    &[type="tel"],
    &[type="email"],
    &[type="url"],
    &[type="search"] {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.8rem;
        width: 100%;
        height: $element32;
        border: 1px solid var(--field-border);
        border-radius: 0.5rem;
        background-color: var(--field10);
        font-size: $font-size14;
        color: var(--text-primary);
        caret-color: var(--text-primary);
        transition: background-color .3s, color .3s, border .3s, box-shadow .3s, transform .3s;
        appearance: none;

        &:hover {
            border-color: var(--field-select);
        }

        &:focus {
            border-color: var(--field-select);
            background-color: var(--field10-hover);
            box-shadow: inset 0 0 0 1px var(--field-select);
        }

        &:read-only {
            border: 1px solid var(--field-border)!important;
            background-color: var(--background-primary-secondary)!important;
            box-shadow: none!important;
            cursor: default;
        }
    }
}

textarea {
    display: flex;
    padding: 0.5rem 0.8rem;
    min-height: $element64;
    width: 100%;
    border: 1px solid var(--field-border);
    border-radius: 0.5rem;
    background-color: var(--field10);
    font-size: $font-size14;
    color: var(--text-primary);
    caret-color: var(--text-primary);
    transition: background-color .3s, color .3s, border .3s, box-shadow .3s, transform .3s;
    resize: vertical;
    appearance: none;

    @include scrollY;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &:hover {
        border-color: var(--field-select);
    }

    &:focus {
        border-color: var(--field-select);
        background-color: var(--field10-hover);
        box-shadow: inset 0 0 0 1px var(--field-select);
    }
}

.text-field {
    > label {
        display: inline-flex;
        margin-bottom: 0.750rem;
        margin-left: 0.25rem;

        @extend %label-text10;
    }

    &.field {
        &-inline {
            .input-box {
                display: flex;
                gap: 0.5rem;

                input {
                    flex: 1;

                    + .btn {
                        flex-shrink: 0;
                        min-width: 10rem;
                    }
                }
            }
        }

        &-icon-left {
            .input-box {
                position: relative;
                height: 100%;

                input {
                    padding-left: 3rem;

                    &:focus {
                        + i {
                            color: var(--text-primary);
                        }
                    }
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    font-size: $font-size18;
                    color: var(--text-placeholder);
                    transform: translateY(-50%);
                }
            }
        }

        &-icon-right {
            .input-box {
                position: relative;
                height: 100%;

                input {
                    padding-right: 3rem;

                    &:focus {
                        + i {
                            color: var(--text-primary);
                        }
                    }
                }

                i {
                    position: absolute;
                    top: 50%;
                    right: 1rem;
                    font-size: $font-size18;
                    color: var(--text-placeholder);
                    transform: translateY(-50%);
                }
            }
        }

        &-trans {
            .input-box {
                input {
                    background-color: transparent;
                    border-color: transparent;

                    &:hover {
                        background-color: var(--field10);
                    }

                    &:focus {
                        border-color: var(--field-select);
                        background-color: var(--field10);
                        box-shadow: inset 0 0 0 1px var(--field-select);
                    }
                }
            }
        }

        &-line {
            .input-box,
            .textarea-box {
                input,
                textarea {
                    background-color: transparent;
                }
            }
        }

        &-edit {
            .input-box,
            .textarea-box {
                input,
                textarea {
                    border-color: var(--system-orange);
                    box-shadow: inset 0 0 0 1px var(--system-orange);
                }
            }
        }

        // SIZE
        &-cta {
            .input-box {
                input {
                    height: $element48;
                }
            }
        }

        &-lg {
            .input-box {
                input {
                    height: $element40;
                }
            }
        }

        &-sm {
            .input-box {
                input {
                    padding: 0 0.5rem;
                    height: $element24;
                    border-radius: 0.375rem;
                }
            }
        }
    }

    &.error {
        .input-box,
        .textarea-box {
            input,
            textarea {
                border-color: var(--system-red);

                &:focus {
                    border-color: var(--field-select);
                }

                &:disabled {
                    opacity: 1!important;
                    border-color: var(--system-red)!important;
                }
            }
        }

        .helper-text {
            @extend %state-error;
        }
    }

    &.warning {
        .input-box,
        .textarea-box {
            input,
            textarea {
                border-color: var(--system-orange);

                &:focus {
                    border-color: var(--field-select);
                }

                &:disabled {
                    opacity: 1!important;
                    border-color: var(--system-orange)!important;
                }
            }
        }

        .helper-text {
            @extend %state-warning;
        }
    }

    &.success {
        .input-box,
        .textarea-box {
            input,
            textarea {
                border-color: var(--system-green);

                &:focus {
                    border-color: var(--field-select);
                }

                &:disabled {
                    opacity: 1!important;
                    border-color: var(--system-green)!important;
                }
            }
        }

        .helper-text {
            @extend %state-success;
        }
    }
}