<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
        <div class="background"></div>
        <div id="header" role="header">
            <header>
              <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <div class="example_question">
                    <div class="example_QTitle">
                        사이트 설명 / 5초 튜토리얼 시작
                    </div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content-wrap">
                <div class="example_question">
                    <div class="example_QTitle">
                        질문 예시
                    </div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content-wrap">
                <div class="example_question">
                    <div class="example_QTitle">
                        질문 예시
                    </div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
  </div>
</body>
</html>