<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
        <div class="background"></div>
        <div id="header" role="header">
            <header>
              <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <article>
                    <div class="title_style_01">
                        SYMBTI 설명
                    </div>
                    <p class="fw-b fs-20 lh-sm mt-40">
                        Welcome To <span class="fc-purple03">S</span>how <span class="fc-purple03">Y</span>our <span class="fc-purple03">MBTI</span> <br/>
                        <br/>
                        이 사이트는 연애 또는 일상에서 발생하는 다양한 상황을 문항으로 제시합니다.<br/>
                        상황에 따라 MBTI 유형별로 어떤 행동을 할지 선택합니다.<br/>
                        <br/>
                        선택을 완료하면 문항에 답변한 모든 유형별 통계를 확인할 수 있습니다.<br/>
                        연애 또는 일상의 관계에서 상대를 좀 더 이해할 수 있는 계기가 되었으면 좋겠습니다.
                    </p>
                </article>

                <article>
                    <div class="title_style_01">
                        질문 예시
                    </div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </article>

                <article>                    
                    <div class="title_style_01">
                        질문 예시
                    </div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div id="footer"></div>
  </div>
</body>
</html>