<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.bundle.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>

<body>
	<div id="header" role="header">
		<header>
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand" href="#"><b>SYMBTI</b></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse w-100p" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page"
									href="https://localhost:8080/list">메인화면</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/write">질문 등록</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/list">리스트</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/edit/65275a9db9bf6a15a8cf29f5">수정하기</a>
							</li>

						</ul>
						<div class="dropdown profile ml-auto">
							<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							  프로필
							</button>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="/register">회원가입</a></li>
							  <li><a class="dropdown-item" href="/login">로그인</a></li>
							  <li><a class="dropdown-item" href="/porifle">회원정보 수정</a></li>
							</ul>
						  </div>
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
	</div>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<script>
</script>