<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.bundle.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<div id="header" role="header">
		<header>
			<nav class="navbar navbar-expand-sm">
				<div class="container-fluid">
					<a class="navbar-brand" href="/home"><b>SYMBTI</b></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse w-100p" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" aria-current="page"
									href="/home">
									<i class="icon home-icon"></i>
								</a>
							</li>
							<li class="nav-item dropdown selectTheme">
								<span class="dropdownToggle dif_cc" data-bs-toggle="dropdown">
									<i class="icon theme-icon"></i>
								</span>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="/theme/love/singleList/1">
											<i class="icon submenu love-icon"></i>
											연애&썸
										</a>
									</li>
									<li class="d-none">
										<a class="dropdown-item" href="/theme/social_life/singleList/1">
											<i class="icon submenu building-icon"></i>
											일상
										</a>
									</li>
								</ul>
							</li>							
							<!--유저모드에선 삭제필요-->
							<li class="nav-item dropdown selectTheme d-none">
								<span class="dropdownToggle dif_cc" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="icon admin-icon"></i>
								</span>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="/theme/love/write">
											<i class="icon submenu upload-icon"></i>
											질문 등록
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/theme/love/list">
											<i class="icon submenu love-icon"></i>
											연애&썸
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/theme/social_life/list">
											<i class="icon submenu building-icon"></i>
											일상
										</a>
									</li>
								</ul>
							</li>							
							<!--여기까지 -->
						</ul>
						<div class="dropdown nav-item profile ml-auto">
							<% if (loginedCheck) { %>
							<span class="dropdownToggle dif_cc" data-bs-toggle="dropdown" aria-expanded="false">								
								<i class="icon logined-icon"></i>
							</span>
							<form action="/logout" method="post">
								<ul class="dropdown-menu">
									<li>									
										<button class="submit dropdown-item">
											<i class="icon submenu logout-icon"></i>
											로그아웃
										</a>
									</li>
								</ul>
							</form>
							<% } else { %>
							<span class="dropdownToggle dif_cc" data-bs-toggle="dropdown" aria-expanded="false">								
								<i class="icon profile-icon"></i>
							</span>
							<ul class="dropdown-menu nav-item ">
								<li>									
									<a class="dropdown-item" href="/register">
										<i class="icon submenu register-icon"></i>
										회원가입
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="/login">
										<i class="icon submenu signin-icon"></i>
										로그인
									</a>
								</li>
								<li class="d-none">									
									<a class="dropdown-item" href="/porifle">
										<i class="icon submenu editProfile-icon"></i>
										회원정보 수정
									</a>
								</li>
							</ul>
							<% } %>
						</div>
						<!-- 검색 기능 불필요 // 기능만 구현 + 미사용
						<form class="d-flex" role="search" action="/search" method="get">
							<input class="form-control me-2" type="search" placeholder="제목 검색" aria-label="Search" name="inputSearch" id="inputSearch">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
						-->
					</div>
				</div>
			</nav>
		</header>
	</div>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>