<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.bundle.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>

<body>
	<div id="header" role="header">
		<header>
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<a class="navbar-brand" href="#"><b class="fw-bl">SYMBTI</b></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse w-100p" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page"
									href="/home">메인화면</a>
							</li>
						</ul>
						<div class="dropdown profile ml-auto">
							<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								테마 선택
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/theme/love/singleList/1">연애&썸</a>
								</li>
								<li>
									<a class="dropdown-item" href="/theme/social_life/singleList/1">일상</a>
								</li>
							</ul>
						</div>
						<!--유저모드에선 삭제필요-->
						<div class="dropdown profile ml-auto">
							<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								관리자 목록
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-itemk" href="/theme/love/write">질문 등록</a>
								</li>
								<li>
									<a class="dropdown-item" href="/theme/love/list">연애&썸</a>
								</li>
								<li>
									<a class="dropdown-item" href="/theme/social_life/list">일상</a>
								</li>
							</ul>
						</div>
						<!--여기까지 -->
						<div class="dropdown profile ml-auto">
							<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								프로필
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/register">회원가입</a>
								</li>
								<li>
									<a class="dropdown-item" href="/login">로그인</a>
								</li>
								<li>
									<a class="dropdown-item" href="/porifle">회원정보 수정</a>
								</li>
							</ul>
						</div>
						<form class="d-flex" role="search" action="/search" method="get">
							<input class="form-control me-2" type="search" placeholder="제목 검색" aria-label="Search" name="inputSearch" id="inputSearch">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
	</div>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<script>
</script>