<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
      <div class="background"></div>
      <div id="header" role="header">
          <header>
              <%- include('nav.ejs') %>
          </header>
      </div>
      <div id="container">
          <div class="main-content-wrap example">
                  
              <div class="list-box">
                <h4></h4> <!-- 퍼센트는 자바스크립트를 html에 꽂는 방법 -->
                <p></p>
              </div>
             
              <div class="example_question">
                  <div class="example_QTitle">질문</div>
				  <% for (var i = 0; i < 글목록.length; i++){ %> <!-- 퍼센트는 자바스크립트를 html에 꽂는 방법 -->  
                  <div class="questionContWrap">
                      <div class="questionTitle">
						<%= 글목록[i].title %>
                      </div>
                      <ul class="answerList">
                          <li>
                              <span class="listNum">①</span> <%= 글목록[i].content %>
                          </li>
                      </ul>
                  </div>
				  <% } %> 
              </div>
          </div>
      </div>
      <div id="footer"></div>
  </div>
</body>
<body class="grey-bg">
   
  <div class="white-bg">
      
    </div>
  </body>
</html>