@import url(/stylesheet/style.css);
.containerWrap {
  margin-top: 1.5rem;
}

.inputQuestionWrap {
  margin-bottom: 1.5rem;
}

.inputQuestionWrap input {
  margin-bottom: 1.5rem;
}

.inputAnswerWrap label {
  margin-bottom: 1rem;
}
.textarea {
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  justify-self: center;
  height: fit-content;
  border: 1px dashed #aca9a9;
  border-radius: 12px;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 200px;
}

.uploadForm .inputQuestionWrap {
  margin-bottom: 10px;
}

.uploadForm .inputQuestionWrap label {
  margin-bottom: 8px;
}

.uploadForm .inputAnswerWrap input {
  margin-bottom: 10px;
}

.uploadForm .inputAnswerWrap label {
  margin-bottom: 8px;
}

.contentsQBox {
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  justify-self: center;
  height: fit-content;
  border: 1px dashed #aca9a9;
  border-radius: 12px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2.5rem 2rem;
}

.contentsQBox2 {
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  justify-self: center;
  height: fit-content;
  border: 1px dashed #aca9a9;
  border-radius: 12px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2.5rem 2rem;
  margin-top: 50px;
}

.title-style-01 {
  width: 30%;
  padding: 10px 0px;
  font-weight: bold;
  margin: 30px auto;
  background-color: #645CA4;
  color: #fff;
  font-size: 20px;
  border-radius: 24px;
  box-shadow: 0px 0px 12px 1px #645CA4;
  text-align: center;
}

.questionTitle {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #685DA1;
  margin-bottom: 15px;
}

.questionNum {
  color: #b8b2da;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.answerList {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.answerList li {
  width: fit-content;
}

.answerList li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.answerList li:active {
  cursor: pointer;
  color: #645CA4;
}

.contentsFooter {
  margin-top: 15px;
  text-align: center;
}

.addQuestionBtn {
  margin-top: 15px;
  width: fit-content;
}

.addQuestionBtn:hover {
  color: #fff;
  background-color: #333;
}

.btn-edit {
  width: fit-content;
}