@mixin dif_cc {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    //background: linear-gradient(180deg, rgb(222, 213, 254) 0%, rgb(244, 174, 172) 100%) no-repeat;
    background: var(--background);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: auto;

    .dif_cc {
        @include dif_cc;
    }

    #container {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        z-index: 1;

        @include scrollAll;

        .main-content-wrap {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            overflow-x: hidden;
            overflow-y: clip;

            .article-footer {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                justify-content: center;
                margin-top: 10px;
                background-color: var(--background-modal);
                border-radius: 12px;
                padding: 0.5rem;
                button {
                    a {
                        font-weight:600;
                        &:hover {
                            opacity: 0.8;
                        }
                        &:active {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .mbti-result {
                margin-top: 50px;
            }
        }

        /* 타이틀 스타일 */
        .title-style-01 {
            width: 30%;
            padding: 10px 0px;
            font-weight: bold;
            margin: 10px auto;
            background-color: #645CA4;
            color: #fff;
            font-size: 1.15rem;
            border-radius: 24px;
            box-shadow: 0px 0px 12px 1px #645CA4;
            text-align: center;
        }

        /* article 기본 정의 */
        article {
            display: flex;
            flex-flow: column nowrap;
            gap: $element24;
            margin-top: 30px;
            &.article-box-design01 {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 8px;
                padding: 1.5rem 0rem;

            }

            p {
                font-weight: bold;
                line-height: 1.25;
                padding: 16px;
                font-size: $font-size20;
            }

            .button {
                width: fit-content;
                span {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .question-contbox {
                padding: 1rem;
                .questionTitle{
                    font-size: 1.15rem;
                }
                .answerList {
                    li {
                        font-size: 1.125rem;
                        cursor: pointer;
                        label {
                            cursor: pointer;
                        }
                        &.active {
                            color: #9a2fcf99;
                            font-weight: bold;
                        }
                    }
                }
            }

            .show-resultBtn {
                width: fit-content;
                background-color: #dc3545;
                color: #fff;
                border-color: #dc3545;
                span {
                    font-size: 1rem;
                    font-weight: 700;
                }

                &:hover {
                    color: var(--bs-btn-hover-color);
                    background-color: var(--bs-btn-hover-bg);
                    border-color: var(--bs-btn-hover-border-color);
                }
            }

            

            

            /* mbti box */
            .mbti-grid-box {
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: calc(100% / 4);
                        gap: 4px;
                        .mbti-title {
                            font-weight: 700;
                        }
                        >div {
                            display: grid;
                            width: 100%;
                            height: auto;
                            padding-top: 100%;
                            background-size: contain;
                            background-repeat: no-repeat;
                            &.istj-image {
                                background-image: url(../../images/mbti/bear.png);
                            }
                            &.istp-image {
                                background-image: url(../../images/mbti/gosmdochi.png);
                            }
                            &.isfj-image {
                                background-image: url(../../images/mbti/daram.png);
                            }
                            &.isfp-image {
                                background-image: url(../../images/mbti/desert_fox.png);
                            }
                            &.intj-image {
                                background-image: url(../../images/mbti/wolf.png);
                            }
                            &.intp-image {
                                background-image: url(../../images/mbti/whale.png);
                            }
                            &.infj-image {
                                background-image: url(../../images/mbti/sudal.png);
                            }
                            &.infp-image {
                                background-image: url(../../images/mbti/horse.png);
                            }
                            &.estj-image {
                                background-image: url(../../images/mbti/tiger.png);
                            }
                            &.estp-image {
                                background-image: url(../../images/mbti/lion.png);
                            }
                            &.esfj-image {
                                background-image: url(../../images/mbti/kangaroo.png);
                            }
                            &.esfp-image {
                                background-image: url(../../images/mbti/panda.png);
                            }
                            &.entj-image {
                                background-image: url(../../images/mbti/leopard.png);
                            }
                            &.entp-image {
                                background-image: url(../../images/mbti/eagle.png);
                            }
                            &.enfj-image {
                                background-image: url(../../images/mbti/angmusae.png);
                            }
                            &.enfp-image {
                                background-image: url(../../images/mbti/dog.png);
                            }
                        }
                        
                    }            
                }
            }
        }
    }
}