// @NAVIGATION

.gnb {
    ul {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.5rem;

            a {
                position: relative;
                display: flex;
                align-items: center;
                width: fit-content;
                height: $element52;
                color: var(--text-secondary);
                font-size: $font-size16;
                font-weight: 400;
                letter-spacing: -0.5px;
                transition: color .3s;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: transparent;
                    transform: translateX(-50%);
                    transition: width .3s, backgroudn-color .3s;
                }

                &.is-active {
                    font-weight: 600;
                }

                &:hover,
                &.is-active {
                    color: var(--text-brand);

                    &::after {
                        width: 100%;
                        background-color: var(--background-primary);
                    }
                }
            }
        }
    }
}

/*nav custom*/
.navbar {
    flex-wrap: wrap !important;
    .navbar-brand {
        display: flex;
        justify-content: center;
        font-size: $font-size32;
        width: 100%;
        b {
            font-weight: 900;
        }
    }

    #navbarSupportedContent {
        max-width: 800px;
        margin: 0 auto;
        height: 100%;
        justify-content: center;
        
        .navbar-nav {
            gap: 8px;
        }        

        .dropdownToggle {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            cursor: pointer;
        }

        .dropdown{
            &.selectTheme,
            &.profile {
                .dropdown-item {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    gap: 12px;
                }
            }
        }
    }

}
.icon {    
    width: 24px;
    height: 24px;
    display: flex;
    &.submenu {
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    &.home-icon {
        background-image: url('../../../images/icons/home.png');
    }

    &.profile-icon {
        background-image: url('../../../images/icons/user.png');
    }

    &.theme-icon {
        background-image: url('../../../images/icons/list.png');
    }
    
    &.register-icon {
        background-image: url('../../../images/icons/user_add.png');
    }
    
    &.signin-icon {
        background-image: url('../../../images/icons/login.png');
    }    

    &.editProfile-icon {
        background-image: url('../../../images/icons/refresh.png');
    }

    &.admin-icon {
        background-image: url('../../../images/icons/admin.png');
    }

    &.love-icon {
        background-image: url('../../../images/icons/heart.png');
    }

    &.building-icon {
        background-image: url('../../../images/icons/world.png');
    }

    &.upload-icon {
        background-image: url('../../../images/icons/upload.png');
    }
}