<div id="answerSelectError" class="modal">
    <div class="modal-content error-modal modal-xs">
      <div class="modal-body">
        <!-- <h3 class="title">
          <i class="exclamation"></i>
            주의
        </h3> -->
        <p class="content" id="modalMessage"></p>
      </div>
      <div class="modal-footer">
        <button class="btn-sm btn w-fit fs-16 py-4 px-20" id="closeModal">
          닫기
        </button>
      </div>      
    </div>
  </div>

  <script>
    document.getElementById('closeModal').addEventListener('click',()=>{
      var modal = document.querySelector('.modal');
        modal.style.display="none";
    })
    
    /* 모달 바깥 클릭시 닫기
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    */
  </script>