<div id="loginError" class="modal">
    <div class="modal-content error-modal modal-sm">
      <div class="modal-body">
        <p class="content" id="modalMessage">
          로그인이 필요한 기능입니다.<br/>
          로그인 페이지로 이동하시겠습니까?
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn-sm btn w-fit py-4 px-16" href="/login">
          확인
        </a>
        <button class="btn-sm btn w-fit modal-footer close-loginError-modal py-4 px-16">
          닫기
        </button>
      </div>      
    </div>
  </div>

  <script>
    document.getElementsByClassName('close-loginError-modal')[0].addEventListener('click',()=>{
      var modal = document.getElementById('loginError');
        modal.style.display="none";
    })
    /* 모달 바깥 클릭시 닫기
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    */
  </script>