<div id="selectError" class="modal">
    <div class="modal-content error-modal modal-sm">
      <div class="modal-body">
        <h3 class="title">
          <i class="exclamation"></i>
            Error
        </h3>
        <p class="content">
          번호를 선택해주세요.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn-sm btn modal-footer close-selectError-modal" id="closeModal">
          닫기
        </button>
      </div>      
    </div>
  </div>

  <script>
    document.getElementsByClassName('close-selectError-modal')[0].addEventListener('click',()=>{
      var modal = document.getElementById('selectError');
        modal.style.display="none";
    })
    
    /* 모달 바깥 클릭시 닫기
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    */
  </script>